body { background-color: #999999;
       color: #000000;
	   font-family: Verdana, Arial, sans-serif;
}
#wrapper { background-color: #F5F5F5;
           margin-left: auto;
           margin-right: auto;
		   width: 80%;
           min-width: 1200px;
           max-width: 1480px;}

* {box-sizing: border-box; }

header { background-color: #80CBC4;
         background-image: url(hero.jpg);
	 color: #FFFFFF;
	 background-size: cover;
		 background-position: right;
		 background-repeat: no-repeat;   
		 height: 680px;}


h1 { padding-top: 580px;
	text-decoration: none;
	color:#FFFFFF;
	font-weight: 900;}

h1:link{color:#FFFFFF;}
h1:visited{color:#FFFFFF;}
h1:hover{color:#87CEFA;}

h2 {text-align: center;}


nav li {
    width: 240px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    display: inline-block;}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .7s background-color;
}

nav a:link{color: #FFFFFF;}
nav a:visited{color: #FFFFFF;}
nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

nav ul { list-style: none;
 	 background-color: #444;
  	 text-align: center;
  	 padding: 0;
 	 margin: 0;}


main { padding-left: 2em;
       padding-right: 2em;
       display: block;
	padding-top: 1em;
	background-color: #D3D3D3;}

.studio { font-style: italic; }

#hero { padding-top: 1em; 
	padding-bottom: 1em;}

.contact {padding-top: 35px; 
	padding-bottom: .25em;
	position:relative;
	font-size:30px;
	color: #191970;
	text-align: center}

.clear { clear: both;}

.onehalf {float: left;
	width: 50%;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:1em;
	padding-top: 1em;}

.forlink {text-align:center;
	margin-left: auto;
	margin-right: auto;}

.onethird {float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;}

footer { background-color: #C0C0C0;
         font-size: .90em;
		 font-style: italic;
		 text-align: center; 
		 padding: 1em;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;}
















